#json_form .el-dialog__footer{
  padding: 0;
}

.el-select,.el-color-picker{
  width: 100%;
  text-align: left;
}
#json_form .el-dialog__header {
  border-bottom: 1px solid rgb(234, 234, 239);
  background: rgb(246, 246, 249);
  padding: 16px 20px;
}

#json_form .el-dialog__headerbtn {
  cursor: pointer;
  top: auto;
  padding: 7px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(220, 220, 228);
  outline: none;
}

#json_form .el-dialog__title {
  line-height: 32px;
  color: rgb(50, 50, 77);
  font-weight: 600;
  font-size: 0.75rem;
}
body{
  margin: 0;
  padding:0;
}
