#json_form .el-dialog__footer {
  padding: 0;
  position: sticky;
  bottom: 0;
}

#json_form .el-table {
  border: 1px solid rgb(234, 234, 239);
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgb(33 33 52 / 10%) 0px 1px 4px;
}


#json_form .el-table__cell .el-checkbox__inner:after {
  left: 5px;
  height: 10px;
}

#json_form .el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: rgb(73, 69, 255);
  border: 1px solid rgb(73, 69, 255);
}

#json_form .el-table-column--selection .cell {
  padding-left: 10px;
  padding-right: 10px;
}

#json_form .el-table .cell .el-button--text {
  color: rgb(142, 142, 169);
  padding: 8px;
}

#json_form .el-table__cell .el-checkbox__inner {
  width: 18px;
  height: 18px;
  border-radius: 4px;
}

#json_form .el-select,
#json_form .el-color-picker {
  width: 100%;
  text-align: left;
}

#json_form .el-dialog__header {
  border-bottom: 1px solid rgb(234, 234, 239);
  background: rgb(246, 246, 249);
  padding: 16px 20px;
  text-align: left;
}

#json_form .el-form-item__label {
  display: none;
}

#json_form .el-dialog {
  max-height: 60vh;
  overflow-y: auto;
}

#json_form .el-dialog__headerbtn {
  cursor: pointer;
  top: auto;
  padding: 7px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(220, 220, 228);
  outline: none;
}

#json_form .el-dialog__title {
  line-height: 32px;
  color: rgb(50, 50, 77);
  font-weight: 600;
  font-size: 0.75rem;
}

body {
  margin: 0;
  padding: 0;
}
